<div ng-include src="'views/sidebar.html'"></div>
    <div class="main-panel">
      <!-- Navbar -->
      <div ng-include src="'views/navbar.html'"></div>
      <!-- End Navbar -->
      <div class="content">
<div class="container-fluid">
         
              </div>
			  
			  
			

                  <form ng-submit="salvar(data)" name="form">
				  <div class="row">
						<div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Parametros</h4>
                  <p class="card-category">Configure seus parametros</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
					<div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Servidor SMTP</label>
                          <select class="form-control" ng-model="data.idSmtp" ng-options="x.id as x.descricao for x in smtp">
						  </select>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email SMTP</label>
                          <input type="text" class="form-control" ng-model="data.emailSmtp" >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Senha SMTP</label>
                          <input type="password" class="form-control" ng-model="data.senha">
                        </div>
                      </div>
                    </div>


                    <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
					
                  

	  </form>
              </div>
      </div>
	  </div>
  